services:
  backend:
    build: .
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/src/infrastructure/config/.env
    volumes:
      - ./backend:/app/backend
      - ./logs:/app/logs
      - ./data:/app/data
      - ./chroma_db:/app/chroma_db
    command: uv run run_fastapi.py
