@import 'tailwindcss';

@theme {
  --font-roboto: Roboto, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --grid-template-columns-70\/30: 70% 30%;

  --color-primary: #16a34a;
  --color-mid: #22c55e;
  --color-secondary: #bbf7d0;
  --color-heavy-primary: #166534;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ai-message {
  @apply w-fit max-w-[80%] rounded-lg bg-green-200 p-2 text-black;
}

.human-message {
  @apply ml-auto w-fit max-w-[80%] rounded-lg bg-green-500 p-2 text-white;
}

.link_with_moving_underline {
  @apply relative p-2 text-white 
          after:content-[''] after:absolute after:left-1/2 after:bottom-0
          after:h-[2px] after:bg-white after:w-0 after:-translate-x-1/2
          after:transition-all after:duration-400
          hover:after:w-[80%];
}