@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ai-message {
  @apply w-fit max-w-[80%] rounded-lg bg-green-200 p-2 text-black;
}

.human-message {
  @apply ml-auto w-fit max-w-[80%] rounded-lg bg-green-500 p-2 text-white;
}

.link_with_moving_underline {
  @apply relative p-2 text-white 
          after:content-[''] after:absolute after:left-1/2 after:bottom-0
          after:h-[2px] after:bg-white after:w-0 after:-translate-x-1/2
          after:transition-all after:duration-[400ms]
          hover:after:w-[80%];
}